<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TopoEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TopoEdit.Properties.Settings>
            <setting name="FormMainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormRaiseLowerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormMeasurePointsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RaiseLowerDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormOneElevationLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OneElevation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MeasurePointsShowWorkplane" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ContourInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeepGuideLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EvenlySpaced" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartZbyLine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndZbyLine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormSurfacePoint" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormAddPointsByLine" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </TopoEdit.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
